body {
    width: 100%;
    height: 100vh;
        /* vh (viewport height):  based on the height of the viewport. For example, 1vh is equal to 1% of the viewport height. 
        vw (viewport width): This unit is based on the width of the viewport. For example, 1vw is equal to 1% of the viewport width. 
        vmin (viewport minimum): This unit is based on the smaller dimension of the viewport (either height or width). 
            For example, if the viewport is 1000px high and 1200px wide, 1vmin would be 10px (1% of 1000px).
        vmax (viewport maximum): This unit is based on the larger dimension of the viewport. 
            For example, if the viewport is 1000px high and 1200px wide, 1vmax would be 12px (1% of 1200px)12. */
}
header {
    background-color: rgb(121, 121, 143);
    height: 65%;
}
nav {
    height: 35%;
    background-color: rgb(182, 182, 182);
}
a {
    background-color: red;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
}
main {
    background-color: aqua;
}
footer {
    background-color: palevioletred;
}

.flexContainer {
    height: 100%;
    display: flex;
    flex-direction: row;      
    flex-wrap: wrap;
    align-items: stretch;    /* flex-flow: row wrap; */
    justify-content: space-around;  /* displays the flex items with space before, between, and after the lines: */
    /* */
}


